{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
{% include 'global/partials/head.html' %}
<title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% include 'global/partials/header.html' %}
{% include 'global/partials/messages.html' %}


<!-- Loader -->
<div id="loader" class="page-loader">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>
{% block main %}
{% endblock main %}


{% include "global/partials/footer.html" %}

{% block bootstrap_js %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  
{% endblock bootstrap_js %}

<script src="{% static 'js/script.js' %}"></script>

</body>

</html>