{% extends 'global/base.html' %}

{% block title %}Lista de Funcionários{% endblock %}

{% block main %}
<main>
<div class="row">
    <div class="col">
        <h2>Funcionários</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Cargo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.usuario.nome_completo }}</td>
                    <td>{{ funcionario.matricula }}</td>
                    <td>{{ funcionario.get_cargo_display }}</td>
                    <td>
                        <a href="{% url 'usuarios:editar_funcionario' funcionario.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'usuarios:criar_funcionario' %}" class="btn btn-success">Novo Funcionário</a>
    </div>
</div>
</main>
{% endblock main %}