{% extends 'global/base.html' %}
{% block title %} Omnis - Redefinir senha{% endblock title %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/usuarios/login.css' %}" />
  <main>
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container bg-white py-5 conteudo_login">
            <div class="row">
                <div class="col-12">
                    <div class="mb-5 header_login">
                        <h2 class="display-5 fw-bold text-center">Redefinir Senha</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row gy-4">
                            {{ form.as_p }}
                            {% for field in form.visible_fields %}
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% if field.errors %}<div class="text-danger small">{{ field.errors|join:", " }}</div>{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-12 mt-3 d-flex justify-content-center ">
                                <div class="col-6 d-flex justify-content-center ">
                                    <button type="submit" class="btn btn-success btn-lg">Redefinir Senha</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </main>
{% endblock %}