{% extends 'global/base.html' %}
{% block title %}Email enviado{% endblock title %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/usuarios/login.css' %}">
    <main>
        <section class="py-3 py-md-5 py-xl-8 col-10 col-lg-6 mx-auto">
            <div class="container bg-white p-4 p-md-5 rounded shadow conteudo_login text-center">
                <h2 class="fw-semibold mb-4">Email enviado</h2>
                <p class="text-muted mb-0">Verifique seu email para o link de redefinição de senha.</p>
            </div>
        </section>
    </main>
{% endblock main %}